################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GamesHub/.vs/GamesHub/v14
/GamesHub/bin/Debug
/GamesHub/obj/Debug
/GamesHub/GamesHub.sln
